<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>My Portfolio</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/components.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>🎉 방문을 환영합니다!</h1>
        </header>
        <div class="card">
            <h2>가인철의 포트폴리오</h2>
            <p class="badge">Spring Boot</p>
            <form sec:authorize="isAuthenticated()" th:action="@{/auth/logout}" method="post">
                <button class="button" type="submit">로그아웃</button>
            </form>
            <button sec:authorize="isAuthenticated()" class="button" onclick="location.href='/posts/new'">게시글 작성</button>
            <button sec:authorize="isAnonymous()" class="button" onclick="location.href='/auth/login'">로그인</button>
        </div>
        <div th:replace="fragments/nav :: nav"></div>

        <p th:text="${message}"></p>
    </div>
</body>
</html>
