<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Portfolio</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/components.css">
</head>
<body>
    <div class="container">
        <div th:replace="~{fragments/nav :: nav}"></div>
        <h1>게시글 목록</h1>
        <p>안녕하세요! 저는 가인철입니다. 이 포트폴리오는 제가 진행한 프로젝트와 게시글을 공유하기 위한 공간입니다.</p>
        <p>저는 Spring Boot를 사용하여 웹 애플리케이션을 개발하는 것을 즐깁니다. 이 포트폴리오에서는 제가 만든 프로젝트와 작성한 게시글을 통해 제 역량과 경험을 보여드리고자 합니다.</p>
    </div>
</body>
</html>
